.body-grid {
  display: grid;
  grid-template-rows: 60px auto 200px; // header, scroll-area, footer
  // 100vh is buggy on mobile browsers,
  // so position fixed and following lines are needed
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background-color: #fafcfe;
  color: #1e1f20;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
}

header {
  grid-row: 1;
  background: #6fb1e7;
  color: #fafcfe;
  text-align: center;
  padding: 8px;
  margin: 0;
  font-family: 'Special Elite', cursive;
  font-size: 2em;
}

.card-container {
  grid-row: 2;
  padding: 15px;
  overflow: scroll;
}

.formEdit {
  grid-row: 2;
  position: absolute;
  top: 20px;
  width: 80%;
  padding: 15px;
  display: grid;
  background: #fafcfe;
  opacity: 7;
  margin: 20px;
  height: 50%;
  border: 4px solid #f6ddc9;
  border-radius: 20px;
}

.card {
  border: 4px solid #f6ddc9;
  padding-left: 10px;
  padding-right: 10px;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;

  :first-child {
    font-size: 25px;
    margin: 10px 0;
  }

  :nth-child(2) {
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    margin: 5px 0;
    border-bottom: 2px solid #c1d6e7;
    border-top: 2px solid #c1d6e7;
  }
  :nth-child(3) {
    margin: 18px 0 10px 0;
  }
  :nth-child(5) {
    font-size: 20px;
    padding: 10px;
  }
}

.formSubmit {
  grid-row: 3;
  padding: 15px;
  display: grid;
}

.formElement {
  border: 1px solid;
  border: 1px solid #6fb1e7;
  border-radius: 10px;
  padding: 5px;
}

input,
select {
  margin: 0 0 10px 0;
  background: #fafcfe;
}

button {
  background: #6fb1e7;
  font-size: 20px;
  margin-top: 5px;
  color: white;
  font-weight: bold;
}
